@import "styles.css";

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 5rem;
}

.contact a {
    border-bottom: 2px solid transparent;
}

.contact a:hover {
    border-bottom: 2px solid var(--primary-accent);
}

.contact-email {
    font-size: 3rem;
}