@import "styles.css";

.landing {
    height: 100%;
    min-height: 85vh;
    margin-bottom: var(--section-space);
    display: flex;
    align-items: center;
}
.landing-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (min-width: 1000px) {
    .landing{
        background-image: url("../images/profile_v0.png");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-attachment: 'local';
        background-position: bottom right;
    }

}
@media screen and (max-width: 1000px) {
    .landing{
        justify-content: center;
    }
    .landing-content{
        align-items: center;
        text-align: center;
    }
    .landing-text-titles{
        align-items: center;
    }
    .landing-text-cta{
        justify-content: center;
    }
}

.landing a {
    border-bottom: none;
}

.landing a:hover {
    border-bottom: none;
}

.landing-name{
    font-family: var(--header-font-family);
    font-weight: var(--bolder-font);
    font-size: clamp(6rem, 11vw, 10rem);
    background-color: var(--primary-accent);
    background-image: linear-gradient(
        30deg,
        var(--primary-accent) 25%,
        var(--secondary-color) 50%, 
        var(--primary-color) 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: animate-landing-text-rev 0.25s ease forwards;
}
.landing-name:hover{
    animation: animate-landing-text 0.75s ease-in forwards;
}
@keyframes animate-landing-text-rev {
    0% {background-size: 1000%;}
    40% {background-size: 1000%;}
    100% {background-size: 100%;}
}
@keyframes animate-landing-text {
    0% {background-size: 100%;}
    80% {background-size: 2000%;}
    100% {background-size: 2000%;}
}

.landing-social {
    font-size: clamp(0.7rem, 1.25vw, 1.15rem);
}
.social-icon{
    margin: 1vw;
}

.landing-text-titles{
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: clamp(1.25rem, 2vw, 2rem);
}

.landing-text-titles-ex{
    color: darkgray;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-style: italic;
}
 
.landing-text-titles-ex a{
    color: darkgray;
}

.landing-text-cta{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}
.landing-text-cta button{
    font-family: var(--header-font-family);
    font-weight: var(--bolder-font);
    font-size: clamp(1.2rem, 3vw, 2rem);
    color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
    background-color: var(--bg-color);
    border-radius: 12px;
    margin: 0.5rem;
    padding: 4px;
    cursor: pointer;
}
.landing-text-cta button:hover{
    color: var(--bg-color);
    border: 3px solid var(--primary-accent);
    background-color: var(--primary-accent);
    transition: var(--transition);
}

.landing-profile-img{
    grid-column: 4 / 6;
    grid-row: 1 / 4;
    z-index: 1;
    max-width: 90%;
    height: auto;
    width: auto;
    align-self: end;
}