@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #808080;
    --secondary-color: #D3D3D3;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

/* CSS Resets Start*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}
/* CSS Resets End*/


/* Navbar Start*/
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}
/* Navbar End */


/* Splash Start */
.splash{
    
}
/* Splash End */


/* About Start */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}
.about img {
    height: 37.5rem;
    width: 37.5rem;
  }

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    /* box-shadow: 0px 2px 15px 2px var(--primary-shadow); */
}
  
.bio h1 {
    margin-bottom: var(--bottom-margin);
}
  
.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}
/* About End */